body {
  display: grid;
  grid-template-columns: 3fr 7fr;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  /*background-color: black;*/
}
#leftSection {
  background-color: goldenrod;
  height: 100%;
}
#content div p{
  display: inline-block;
  width: 80%;
  /*background-color: blue;*/
  /*white-space: pre-line;*/
}
#rightSection {
  /*background-color: black;*/
  height: 100%;
}
.checkedBox {
  text-decoration: line-through;
}
